vendor
node_modules
.env
.env.local
.env.production
.env.staging
.git
.gitignore
.gitattributes
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
